.form-input {
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 13px 16px 8px 16px;
    width: 160px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.form-input:hover {
    border: 1px solid #B5D9BB;
}

.form-input:focus {
    outline: none;
    border: 1px solid #49CD5E;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-input:disabled {
    border: 1px solid #E0E0E0;
    background-color: #EEEEEE;
    color: #666666;
}

/*
    MOBILE DEVICES
 */

@media (max-width:480px)  {
    .input-group {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }
}
