button.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 84px;
    height: 40px;
    background: #49CD5E;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Red Hat Display', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

button.button:hover {
    background: #223CC7;
}

button.button:disabled {
    background: #E1E8ED;
}

/*
    MOBILE DEVICES
 */

@media (max-width:480px)  {
    button.button {
        width: 100%;
    }
}
