.history-data-mobile {
    flex-direction: column;
}

.history-data-mobile > .history-data {
    padding: 16px;
    background: #F9F9F9;
    border: 1px solid #EFF0F7;
    border-radius: 12px;
    margin-bottom: 12px;
}

.history-data-mobile > .history-data > .headline {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}

.history-data-mobile .currency-to {
    margin-left: 8px;
}

.history-data-mobile > .history-data > .amount-content {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.history-data-mobile > .history-data > .headline > .type-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: pink;
}

.history-data-mobile > .history-data > .headline > .type-dot.live-price {
    background: #5DBE7E;
}

.history-data-mobile > .history-data > .headline > .type-dot.exchanged {
    background: #6368DF;
}

.modal > .modal-content > .selected-data {
    display: flex;
}

.modal > .modal-content > .selected-data > .title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    width: 95px;
}

.modal > .modal-content > .selected-data > .value {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.modal > .modal-content > .close-button {
    padding: 12px 24px;
    background: #49CD5E;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 64px;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
