.toolbar {
    padding: 60px 0 45px 220px;
    box-shadow: 0 8px 16px rgba(17, 17, 17, 0.06);
}

.toolbar > .title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 27px;
}

.toolbar > .flex-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
}

.toolbar .equals-sign {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

/*
    MOBILE DEVICES
 */

@media (max-width:480px)  {
    .toolbar {
        padding: 36px 25px 48px;
    }

    .toolbar > .flex-group {
        flex-direction: column;
    }

    .toolbar .equals-sign {
        display: none;
    }
}
