.input-group {
    position: relative;
}

.input-group > label {
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9C9C9C;
}

.button-select {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background: transparent;
    width: 200px;
    max-height: 42px;
    padding: 10px 16px 8px 16px;
    position: relative;
    text-align: left;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.button-select:hover {
    cursor: pointer;
}

.button-select::after {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    content: "\25be";
    color: #9C9C9C;
}

.button-select.expanded::after {
    transform: translateY(-50%) rotate(180deg);
}

.button-select:disabled,
.button-select[disabled]{
    border: 1px solid #E0E0E0;
    background-color: #EEEEEE;
    color: #666666;
}
ul.options {
    width: 250px;
    display: none;
    list-style: none;
    background: #FFFFFF;
    position: absolute !important;
    z-index: 99 !important;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border-collapse: separate;
}

ul.show {
    display: block;
}

ul.options li {
    padding: 12px 24px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #565656;
    display: flex;
    align-items: center;
}

.option-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

ul.options li:first-child {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

ul.options li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected="true"] {
    background: #eeeeee;
    cursor: pointer;
    border-collapse: separate;
    color: #565656;
}
