.history {
    padding: 52px 0 105px 220px;
}

.history > .title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

.history > .history-data-mobile {
    display: none;
}

.date-filter {
    margin-bottom: 45px;
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

/*
    MOBILE DEVICES
 */

@media (max-width:480px)  {
    .history {
        padding: 24px 16px 24px;
    }

    .history > .title {
        margin-bottom: 20px;
    }

    .history > table.data-table {
        display: none;
    }

    .history > .history-data-mobile {
        display: flex;
    }
}
